
.slot {
    width: 5rem;
    height: 7rem;
    border: 3px dashed grey;
    margin: 0.5rem;
    position: relative;
}
.card, .symbol {
    box-sizing: content-box;
    width: 5rem;
    height: 7rem;
    margin: 0.5rem;
    justify-content: center;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: clip;
    background: white;
    text-align: center;
    font-size: 4rem;
}
.card {
    border: 1px solid black;
}
.symbol { text-align: center; font-size: 4rem; border: 0; }
.dragged {
    opacity: 100%;
    box-shadow: 0 0 20px yellow;
}
.card .name {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
    bottom: 0;
    left: -1px;
    right: -1px;
    background: lightgrey;
    font-size: 10pt;
}

.elements {
    display: flex;
    flex-wrap: wrap;
}

.equation {
    display: flex;
    flex-wrap: wrap;
}

.prompt {
    position: fixed;
    background: white;
    padding: 5rem;
    border: 5px solid lightgrey;
    margin: auto;
    top: 5rem;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    box-shadow: 0 0 100px black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.prompt .equation {
    justify-content: center;
}
.prompt .elements {
    overflow-y: scroll;
}

html {
    user-select: none;
}

.card.art {
    display: block;
}
.card img {
    max-width: 90%;
    max-height: 90%;
    margin: 5px;
    user-select: none;
}

.card.doodle {
    background: darksalmon;
}

/* === Easel === */

.easel {
    display: block;
    padding: 20px;
    width: min-content;
    left: 0px;

    position: fixed;
    background: white;
    padding: 5re;
    border: 5px solid lightgrey;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 100px black;
    text-align: center;
}

.easel:not(.enabled) {
    display: none;
}

.easel canvas {
    --size: calc(min(100vw - 40px, 100vh - 164px));
    width: var(--size);
    height: var(--size);
    border: 1px solid;
    user-select: none;
}

.easel div {
    width: 100%;
    text-align: center;
    font-size: 16pt;
    max-height: 32px;
}

.tool {
    height: 32px;
    width: 32px;
}

.tool-selected {
    border: 2px red solid;
    padding: 2px;
    margin-left: 10px;
}
