
.slot {
    width: 5rem;
    height: 7rem;
    border: 3px dashed grey;
    margin: 0.5rem;
    position: relative;
}
.card {
    width: 5rem;
    height: 7rem;
    border: 1px solid black;
    margin: 0.5rem;
    justify-content: center;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: clip;
    background: white;
    text-align: center;
    font-size: 4rem;
}
.dragged {
    opacity: 100%;
    box-shadow: 0 0 20px yellow;
}
.card .name {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
    box-sizing: border-box;
    bottom: 0;
    left: -10px;
    right: -10px;
    background: lightgrey;

}
.question, .equals, .plus { text-align: center; font-size: 4rem; }
.card.plus, .card.equals { border: 0; }
.card.plus::before     { content: "+"; }
.card.equals::before   { content: "➡"; }
.question::before { content: "?"; }

.card.fire::before  { content: "🔥"; }
.card.water::before { content: "🌊"; }
.card.earth::before { content: "⛰️"; }
.card.air::before   { content: "💨"; }

.discoveredElements {
    display: flex;
    flex-wrap: wrap;
}

.equation {
    display: flex;
    flex-wrap: wrap;
}

.promptOld {
    position: fixed;
    background: white;
    padding: 5re,;
    border: 5px solid lightgrey;
    margin: auto;
    top: 5rem;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    box-shadow: 0 0 100px black;
    text-align: center;
}
.promptOld .equation {
    justify-content: center;
}
.promptOld .discoveredElements .question {
    display: none;
}
