
.slot {
    width: 5rem;
    height: 7rem;
    border: 3px dashed grey;
    margin: 0.5rem;
    position: relative;
}
.card, .symbol {
    box-sizing: content-box;
    width: 5rem;
    height: 7rem;
    margin: 0.5rem;
    justify-content: center;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: clip;
    background: white;
    text-align: center;
    font-size: 4rem;
}
.card {
    border: 1px solid black;
}
.symbol { text-align: center; font-size: 4rem; border: 0; }
.dragged {
    opacity: 100%;
    box-shadow: 0 0 20px yellow;
}
.card .name {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
    bottom: 0;
    left: -10px;
    right: -10px;
    background: lightgrey;
}

.elements {
    display: flex;
    flex-wrap: wrap;
}

.equation {
    display: flex;
    flex-wrap: wrap;
}

.prompt {
    position: fixed;
    background: white;
    padding: 5re,;
    border: 5px solid lightgrey;
    margin: auto;
    top: 5rem;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    box-shadow: 0 0 100px black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.prompt .equation {
    justify-content: center;
}
.prompt .elements {
    overflow-y: scroll;
}

html {
    user-select: none;
}
